[Unit]
Description=Chicken-gate
After=multi-user.target network-online.target
Wants=network-online.target

[Service]
Type=idle
WorkingDirectory=/home/pi/sw/chicken-gate
Environment=PATH=/home/pi/sw/chicken-gate/.venv/bin:$PATH
ExecStart=/home/pi/sw/chicken-gate/.venv/bin/python3 -u /home/pi/sw/chicken-gate/src/main.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target