[Unit]
Description=Chicken-gate
After=multi-user.target network-online.target
Wants=network-online.target

[Service]
#StandardOutput=file:/home/pi/sw/chicken-gate/std.log
#StandardError=file:/home/pi/sw/chicken-gate/err.log

Type=idle
WorkingDirectory=/home/pi/sw/chicken-gate
VIRTUAL_ENV=/home/pi/sw/chicken-gate/.env
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/home/pi/sw/chicken-gate/.env/bin/python3 -u main.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target